:root {
    --color-blue: #496BAD;
    --color-background: #FBFBFB;
    --color-text: #252525;
    --color-white: #FFF;
    --font: "Poppins", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
}

button, .btn {
    box-shadow: none !important;
    outline: none !important;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-blue);
}

.btn-link {
    color: var(--color-white);
    background-color: var(--color-blue);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
}

.heading-style::after {
    content: '';
    width: 20%;
    /* Ajuste a largura conforme necessário */
    height: 2px;
    /* Ajuste a espessura da linha aqui */
    background-color: var(--color-blue);
    /* Cor de exemplo */
    position: absolute;
    bottom: 10px;
    /* Ajuste a distância do texto */
    left: 0;
    /* Ajuste o espaço entre o texto e a linha */
}

section {
    padding: 32px 18px;
}

.section-title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 16px;
}

.section-title h2 {
    position: relative;
    text-transform: none;
}

.section-title h3 {
    position: relative;
    font-size: 24px;
    text-transform: capitalize;
}

.section-title h4 {
    position: relative;
    font-size: 20px;
    text-transform: capitalize;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eaeaea;
}

.section-title:after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #94CCF4;
}

.section-title.center:after {
    left: 50%;
    margin-left: -25px;
}

.section-reverse {
    background-color: var(--color-blue);
}

.section-reverse .section-title, .section-reverse p {
    color: var(--color-white);
}

.section-reverse .statistics-container .statistic{
    color: var(--color-white);   
}


.section-reverse .section-title:before {
    background: #eaeaea;
}


.section-reverse .section-title:after {
    background: #eaeaea;
}
/* Adicione isso ao seu arquivo CSS */

.statistics-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #F5F5F5; */
}

.statistic {
    margin: 4px 0;
    padding: 8px;
    /* background-color: #4A90E2; */
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #4A90E2; */
    border-radius: 10px;
}

.number {
    font-size: 2em;
    font-weight: bold;
}

.description {
    font-size: 1em;
}

/*Cards dos Atendiementos*/
.card {
    width: 350px;
    /* Ajuste conforme necessário */
    border-radius: 10px;
    /* Cantos arredondados */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    /* Efeito de sombra */
}

.card-dep {
    width: 100%;
}

.card img {
    width: auto;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 14px;
    color: #666;
    /* Cor de texto mais clara para o texto do espaço reservado */
    margin-bottom: 16px;
}

.card button {
    background-color: #007bff;
    /* Cor azul de exemplo */
    color: var(--color-white);
    border: none;
    padding: 12px;
    border-radius: 5px;
    /* Cantos arredondados para o botão */
    cursor: pointer;
    /* Cursor de ponteiro ao passar o mouse */
}

.btn-schedule-appointment {
    text-decoration: none;
    color: var(--color-blue);
}

.carousel-inner{
    width: auto;
}

.carousel-inner .carousel-item h2 {
    color: var(--color-text);
    font-weight: 500;
}

#atendimentos-sem-carrosel, #depoimentos-sem-carrosel {
    display: none;
}

footer {
    width: 100%;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

@media (min-width: 572px) {
    body {
        font-size: 18px;
    }

    .statistics-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}


@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    section {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    #carouselAreasAtend {
        display: none !important;
    }

    #atendimentos-sem-carrosel {
        display: block;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    #atendimentos-sem-carrosel .card {
        height: 280px;
        width: 250px;
        justify-content: space-between;
    }

    #atendimentos-sem-carrosel h2 {
        color: var(--color-text);
        font-weight: 500;
    }

    #atendimentos-sem-carrosel a {
        font-size: 14px;
    }

    #atendimentos-sem-carrosel img {
        border-radius: 8px 8px 0 0;
        height: 175px;
    }

    .statistics-container {
        gap: 10px;
        flex-direction: row;
    }

    .statistics-container .statistic {
        width: 50%;
    }

    #carouselDepoimentos {
        display: none !important;
    }

    #depoimentos-sem-carrosel {
        display: block;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .btn-agenda:hover {
        color: #0b315a;
        transform: scale(1.5);
    }

    .card-dep {
        width: 350px;
    }

    .card:hover, .number:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out;
        background-color: #829fda;
        color: var(--color-white) !important;

    }

    .card h2:hover {
        color: var(--color-white) !important;
    }

section {
    padding: 32px 160px;
    }

    .section-reverse iframe {
        width: 650px;
        height: 400px;
    }

}

@media (min-width: 1200px) {
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
}

